.skeleton {
  width: 100%;
  height: 100%;
  animation: skeleton-loading 1s infinite alternate;
  background-color: rgb(108, 108, 108);

  @keyframes skeleton-loading {
    0% {
      background-color: #b7b7b7;
    }
    100% {
      background-color: #9a9a9a;
    }
  }
}
