@if (this.isLoading) {
  <app-loader />
}
<div class="flex flex-col justify-center p-5">
  @if (exercises !== undefined) {
    <div class="flex justify-between">
      <a mat-flat-button href="/exercise">+ Create Exercise</a>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput maxlength="18" placeholder="Filter" [value]="this.filters.query" [disabled]="this.isLoading" (input)="this.handleQueryInput($event)" />
      </mat-form-field>
    </div>
    <table
      class="w-full"
      mat-table
      [dataSource]="exercises"
      class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let exercise">
          <a href="/exercise/{{ exercise.id }}">{{ exercise.id }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let exercise">
          <a href="/exercise/{{ exercise.id }}">{{ exercise.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let exercise">
          <a href="/exercise/{{ exercise.id }}">{{ exercise.description }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="last_modified_date">
        <th mat-header-cell *matHeaderCellDef>Last Modified</th>
        <td mat-cell *matCellDef="let exercise">
          <a href="/exercise/{{ exercise.id }}"><app-date [stringDate]="exercise.last_modified_date"></app-date></a>
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let exercise">
          <a href="/exercise/{{ exercise.id }}"
            ><mat-icon>edit_square</mat-icon></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      class="mt-6 ml-auto border-2 border-gray-400 w-fit"
      (page)="handlePageEvent($event)"
      [length]="this.filters.totalExercises"
      [disabled]="this.isLoading"
      [showFirstLastButtons]="true"
      [pageSize]="this.filters.itemsPerPage"
      [pageSizeOptions]="this.filters.itemsPerOptions"
      [hidePageSize]="false"
      [pageIndex]="this.filters.page"
      aria-label="Select page"
    >
    </mat-paginator>
  }
</div>
