<div class="flex mt-10 mx-2 flex-col gap-10 md:flex-row md:mx-10">
  <div class="flex-1 flex flex-col justify-center gap-10">
    <h1 class="text-5xl">{{ 'home.title1' | translate }}</h1>
    <h2 class="text-xl">{{ 'home.title2' | translate }}</h2>
    <div class="flex justify-center">
      <a href="/create_exam" class="bg-blue-700 w-fit h-fit rounded-full px-8 py-3 text-white text-xl">{{ 'home.callToAction' | translate }}</a>
    </div>
    
  </div>
  <div class="relative md:w-1/2">
    <div class="flex-1 relative w-4/5 flex mx-auto gap-4 justify-center md:ml-5 md:w-4/5">
      <div class="relative w-1/2 flex-1 transform skew-x-12 flex flex-col gap-4">
        <div class="relative w-auto aspect-square flex-1 border border-black flex justify-center items-center rounded-xl p-4 h-28 bg-[rgba(119,135,255,0.2)] transition-transform duration-300 shadow-lg hover:transform hover:translate-y-[-10px] hover:shadow-xl">
          <img class="w-full" src="https://www.svgrepo.com/show/233467/geometry-protractor.svg" alt="Geometry Protractor SVG File">
        </div>
        <div class="relative w-auto aspect-square flex-1 border border-black flex justify-center items-center rounded-xl p-4 h-28 bg-[rgba(119,135,255,0.2)] transition-transform duration-300 shadow-lg hover:transform hover:translate-y-[-10px] hover:shadow-xl">
          <img class="w-full" src="https://www.svgrepo.com/show/259278/atom.svg" alt="Atom SVG File">
        </div>
      </div>
      <div class="relative w-1/2 flex-1 transform skew-x-12 flex flex-col gap-4">
        <div class="relative w-auto aspect-square flex-1 border border-black flex justify-center items-center rounded-xl p-4 h-28 bg-[rgba(119,135,255,0.2)] transition-transform duration-300 shadow-lg hover:transform hover:translate-y-[-10px] hover:shadow-xl">
          <img class="w-full" src="https://www.svgrepo.com/show/108288/chemistry.svg" alt="Chemistry SVG File">
        </div>
        <div class="relative w-auto aspect-square flex-1 border border-black flex justify-center items-center rounded-xl p-4 h-28 bg-[rgba(119,135,255,0.2)] transition-transform duration-300 shadow-lg hover:transform hover:translate-y-[-10px] hover:shadow-xl">
          <img class="w-full" src="https://www.svgrepo.com/show/70981/teacher.svg" alt="Teacher SVG File">
        </div>
      </div>
    </div>
  </div>
</div>
