<div class="px-2 md:px-5">
  <h1 class="text-6xl text-center my-10">
    {{ 'createExam.title' | translate }}
  </h1>
  <p class="mb-3">{{ 'createExam.description1' | translate }}</p>
  <p>{{ 'createExam.description2' | translate }}</p>
  <form class="flex flex-col py-5 gap-4" [formGroup]="this.examDataForm" (submit)="createTest($event)">
    <div
      class="relative h-10 flex justify-around text-white text-xs sm:text-base sm:h-12">
      <button
        class="h-full flex flex-row text-nowrap gap-2 justify-center items-center bg-blue-700 rounded-3xl px-3 disabled:bg-gray-500 disabled:text-gray-300 sm:p-3 sm:w-52"
        type="button"
        [disabled]="this.isCreatingPdf"
        (click)="this.setExample()">
        Cargar ejemplo
      </button>
      <button
        class="h-full flex flex-row text-nowrap gap-2 justify-center items-center bg-blue-700 w-40 rounded-3xl px-3 disabled:bg-gray-500 disabled:text-gray-300 sm:p-3 sm:w-52"
        type="submit"
        [disabled]="!this.getExamCanBeCreated()">
        @if (this.isCreatingPdf) {
          <mat-spinner diameter="20"></mat-spinner
          >{{ 'createExam.creatingExam' | translate }}
        } @else {
          {{ 'createExam.createExam' | translate }}
        }
      </button>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-1 flex-col gap-8">
        @for (section of this.sections; track $index) {
          <section class="bg-slate-100 px-7 py-3 shadow-gray-500 shadow-md">
            <h2 class="mb-3 text-2xl">
              {{ 'createExam.' + section | translate }}
            </h2>
            <div class="flex flex-col">
              @for (exercise of this.examDataForm.value.exercises?.[section]; track $index) {
                <div class="py-0 px-0 flex flex-col md:flex-row md:gap-5">
                  <mat-form-field class="border-none w-full" appearance="outline">
                    <input
                      matInput
                      maxlength="200"
                      placeholder="{{ 'createExam.example' | translate }}"
                      required
                      [value]="exercise.description"
                      (input)="
                        this.handleDescriptionInput($event, section, $index)
                      " />
                  </mat-form-field>
                  <div class="flex justify-between md:gap-5">
                    <mat-form-field class="w-24" appearance="outline">
                      <input
                        matInput
                        type="number"
                        min="1"
                        max="10"
                        required
                        (keydown)="this.updateQuantityWithKeyboard($event)"
                        [value]="exercise.quantity"
                        (input)="this.updateQuantity($event, section, $index)" />
                    </mat-form-field>
                    <button mat-fab type="button" (click)="deleteRow(section, $index)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              }
            </div>
            <button
              mat-flat-button
              class="w-fit"
              color="accent"
              type="button"
              (click)="this.addRow(section)">
              {{ 'createExam.addRow' | translate }}
            </button>
          </section>
        }
      </div>
      <aside class="rounded-md bg-white p-5 w-80 shadow-gray-500 shadow-md">
        <div class="relative flex flex-col">
          <mat-form-field class="w-full" appearance="outline">
            <mat-select placeholder="Asignatura" formControlName="subject">
              @for (subject of this.subjects; track $index) {
                <mat-option [value]="subject">{{ ('createExam.' + subject) | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="flex flex-col w-fit">
            <span>Hojas en blanco</span>
            <mat-form-field class="w-24" appearance="outline">
              <input
                matInput
                type="number"
                min="0"
                max="10"
                value="0"
                (keydown)="this.updateQuantityWithKeyboard($event)"
                formControlName="whiteSheets"
              />
            </mat-form-field>
          </div>
          
          <mat-checkbox formControlName="includeGraphs">Incluir gráficos</mat-checkbox>
          <mat-checkbox formControlName="includeAnswers">Incluir respuestas</mat-checkbox>
        </div>
      </aside>

    </div>
    
  </form>
  <div id="exam-pdf" class="relative w-full px-5 flex justify-center">
    @if (this.pdfUrl !== undefined && !this.isCreatingPdf) {
      <a class="open-document" [href]="this.pdfUrl" target="_blank">{{
        'createExam.openDocument' | translate
      }}</a>
    }
  </div>
</div>
