@if (this.showLoader) {
  <app-loader></app-loader>
}

<div class="p-10">
  <button
    mat-flat-button
    color="accent"
    class="mb-5"
    (click)="createTest()"
    [disabled]="!this.isAtLeastOneExerciseSelectedWithQuantityNotZero || this.exercises.selected.length === 0"
  >
    {{ 'createExam.createExam' | translate }}
  </button>
  <div class="flex justify-between">
    <mat-form-field>
      <mat-label>{{ 'createExam.filter' | translate }}</mat-label>
      <input matInput maxlength="18" [value]="this.filters.query" [disabled]="this.showLoader" (input)="this.handleQueryInput($event)" />
    </mat-form-field>
    <mat-paginator
      #paginator
      (page)="handlePageEvent($event)"
      [length]="this.filters.totalExercises"
      [disabled]="this.showLoader"
      [showFirstLastButtons]="true"
      [pageSize]="this.filters.itemsPerPage"
      [pageSizeOptions]="this.filters.itemsPerOptions"
      [hidePageSize]="false"
      [pageIndex]="this.filters.page"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div class="flex gap-10">
    <div class="flex-1">
      <h2>{{ 'createExam.available' | translate }}</h2>
      <div
        id="exercisesUnselected"
        cdkDropList
        [cdkDropListData]="exercises.unselected"
        cdkDropListConnectedTo="exercisesSelected"
        class="border-solid border-2 border-gray-500 min-h-14 bg-white rounded-md overflow-hidden block"
        (cdkDropListDropped)="drop($event)">
        @for (unselectedExercise of this.exercises.unselected; track unselectedExercise.id) {
          <div
            class="exercise py-1 px-3 border-solid border-b-2 border-gray-500 flex gap-1 flex-col box-border cursor-move bg-white items-start content-start last:border-0"
            [cdkDragData]="unselectedExercise.id"
            cdkDrag>
            <div class="text-black text-lg">
              ({{ unselectedExercise.id }}) {{ unselectedExercise.name }}
            </div>
            <div class="text-gray-500  text-base">
              {{ unselectedExercise.description }}
            </div>
          </div>
        }
      </div>
    </div>
    <div class="flex flex-col flex-1">
      <h2>{{ 'createExam.selected' | translate }}</h2>
      <div
        id="exercisesSelected"
        cdkDropList
        [cdkDropListData]="this.exercises.selected"
        cdkDropListConnectedTo="exercisesUnselected"
        class="flex-1 border-solid border-2 border-gray-500 min-h-14 bg-white rounded-md overflow-hidden"
        (cdkDropListDropped)="drop($event)">
        @for (exerciseSelected of this.exercises.selected; track exerciseSelected.id) {
          <div
            class="exercise py-1 px-3 border-solid border-b-2 border-gray-500 text-black flex gap-1 flex-col box-border cursor-move bg-white text-xl items-start content-start last:border-0"
            cdkDrag
            [cdkDragData]="exerciseSelected.id">
            <div>
              <span>{{ 'createExam.id' | translate }}: {{ exerciseSelected.id }}</span>
            </div>
            <div>
              <span>{{ 'createExam.name' | translate }}: {{ exerciseSelected.name }}</span>
            </div>
            <mat-form-field>
              <mat-label>{{ 'createExam.quantity' | translate }}</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
                min="0"
                max="5"
                (keydown)="updateQuantityWithKeyboard($event)"
                [value]="exerciseSelected.quantity"
                (input)="updateQuantity($event, exerciseSelected.id)" />
            </mat-form-field>
          </div>
        }
      </div>
    </div>
  </div>
</div>

@if (this.pdfUrl !== undefined) {
  <div class="relative w-full px-5">
    <div class="relative w-auto h-[1150px] py-10">
      <embed class="w-full h-full" [src]="pdfUrl" type="application/pdf" />
    </div>
  </div>
}

<!-- @if (false) {
  <div class="h-svh w-svw top-0 left-0 bg-white/95 flex justify-center items-start fixed z-50">
    <div class="mt-52">
      <app-progress [percentage]="0" [texts]="['Creando ejercicios']"></app-progress>
    </div>
  </div>
} -->

<!-- <div class="w-full px-5">
  <iframe #iframeRef class="w-full h-52 mb-4" src="http://localhost:4200/api/pyodide"></iframe>
</div> -->
