<div class="tw-px-2 md:tw-px-5">
  <h1 class="tw-text-6xl tw-text-center tw-my-10">
    {{ 'createExam.title' | translate }}
  </h1>
  <p class="tw-mb-3">{{ 'createExam.description1' | translate }}</p>
  <p>{{ 'createExam.description2' | translate }}</p>
  <form
    class="tw-flex tw-flex-col tw-py-5 tw-gap-4"
    [formGroup]="this.examDataForm"
    (submit)="createTest($event)">
    <div
      class="tw-relative tw-h-10 tw-flex tw-justify-around tw-text-white tw-text-xs sm:tw-text-base sm:tw-h-12">
      <button
        mat-flat-button
        type="button"
        [disabled]="this.isCreatingPdf"
        (click)="this.setExample()">
        {{ 'createExam.loadExample' | translate }}
      </button>
    </div>
    <div class="tw-flex tw-gap-4 tw-flex-col-reverse lg:tw-flex-row">
      <div
        formGroupName="exercises"
        class="tw-flex tw-flex-1 tw-flex-col tw-gap-8">
        @for (section of this.sections; track section) {
          <section
            formArrayName="{{ section }}"
            class="tw-bg-white tw-px-7 tw-pb-3 tw-shadow-gray-500 tw-shadow-md">
            <h2 class="tw-mb-3 tw-text-2xl">
              {{ 'createExam.' + section | translate }}
            </h2>
            <div class="tw-flex tw-flex-col tw-gap-8 md:tw-gap-6">
              @for (
                exercise of this.getSectionArray(section).controls;
                track exercise
              ) {
                <div formGroupName="{{ $index }}">
                  <div
                    class="tw-py-0 tw-px-0 tw-flex tw-flex-col tw-gap-5 md:tw-flex-row">
                    <mat-form-field
                      class="tw-border-none tw-w-full"
                      appearance="outline">
                      <mat-label>{{
                        'createExam.description' | translate
                      }}</mat-label>
                      <input
                        matInput
                        maxlength="200"
                        placeholder="{{ 'createExam.example' | translate }}"
                        formControlName="description" />
                    </mat-form-field>
                    <div class="tw-flex tw-justify-between md:tw-gap-5">
                      <mat-form-field class="w-28" appearance="outline">
                        <mat-label>{{
                          'createExam.quantity' | translate
                        }}</mat-label>
                        <input
                          matInput
                          type="number"
                          min="1"
                          max="10"
                          formControlName="quantity" />
                      </mat-form-field>
                      <button
                        mat-fab
                        type="button"
                        (click)="deleteRow(section, $index)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              }
            </div>
            <button
              mat-flat-button
              class="tw-w-fit tw-mt-4"
              color="accent"
              type="button"
              (click)="this.addRow(section)">
              {{ 'createExam.addRow' | translate }}
            </button>
          </section>
        }
      </div>
      <aside
        class="tw-h-fit tw-rounded-md tw-bg-white tw-p-5 tw-shadow-gray-500 tw-shadow-md lg:tw-w-80">
        <div class="tw-relative tw-flex tw-flex-col">
          <mat-form-field
            class="tw-w-full"
            [enterKeyHint]="false"
            appearance="outline">
            <mat-label>{{ 'createExam.subject' | translate }}</mat-label>
            <mat-select formControlName="subject">
              @for (subject of this.subjects; track $index) {
                <mat-option [value]="subject">{{
                  'createExam.' + subject | translate
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="includeAnswers">{{
            'createExam.includeAnswers' | translate
          }}</mat-checkbox>
          <button
            mat-flat-button
            type="submit"
            [disabled]="!this.getExamCanBeCreated()">
            <div class="tw-flex tw-gap-2 tw-justify-center tw-items-center">
              @if (this.isCreatingPdf) {
                <mat-spinner diameter="20"></mat-spinner
                ><span>{{ 'createExam.creatingExam' | translate }}</span>
              } @else {
                <span>{{ 'createExam.createExam' | translate }}</span>
              }
            </div>
          </button>
        </div>
      </aside>
    </div>
  </form>
  <div
    id="exam-pdf"
    class="tw-relative tw-w-full tw-px-5 tw-flex tw-justify-center">
    @if (this.pdfUrl !== undefined && !this.isCreatingPdf) {
      <a class="open-document" [href]="this.pdfUrl" target="_blank">{{
        'createExam.openDocument' | translate
      }}</a>
    }
  </div>
</div>
