input {
  &::placeholder {
    color: #acacac !important;
  }
}

.open-document {
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 4rem 5rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  text-wrap: nowrap;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  &::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000);
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 3rem);
    height: calc(100% + 3rem);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  &:active:after {
    background: transparent;
  }

  &:active {
    color: #000;
    font-weight: bold;
  }
}
