<aside class="p-2">
  <nav>
    <ul>
      <li>
        <a href="/"
          ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
            >home</mat-icon
          ></a
        >
      </li>
      <li>
        <a href="/exercises"
          ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
            >lists</mat-icon
          ></a
        >
      </li>
      @if (this.auth.isAuthenticated) {
        <li>
          <a href="/exercise"
            ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
              >playlist_add</mat-icon
            ></a
          >
        </li>
      }
      <li>
        <a href="/create_exam"
          ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
            >construction</mat-icon
          ></a
        >
      </li>
      <li>
        <a href="/tutorial"
          ><mat-icon style="font-size: 4rem; width: 4rem; height: 4rem"
            >help</mat-icon
          ></a
        >
      </li>
      <li>
        @if (this.auth.isAuthenticated === true) {
          <a href="/api/auth/logout">
            <mat-icon style="font-size: 4rem; width: 4rem; height: 4rem">logout</mat-icon>
          </a>
        }
        @else {
          <a href="/api/auth/login">
            <mat-icon style="font-size: 4rem; width: 4rem; height: 4rem">login</mat-icon>
          </a>
        }
      </li>
      <li>
      </li>
    </ul>
  </nav>
</aside>