<nav class="bg-black">
  <ul class="flex py-5 px-16 gap-5 items-center">
    <li class="flex-1">
      @if (this.auth.isAuthenticated === undefined) {
        <button class="log" disabled><mat-spinner diameter="20"></mat-spinner></button>
      }
      @else if (this.auth.isAuthenticated === true) {
        <a class="log" href="/api/auth/logout">{{ 'nav.logout' | translate }}</a>
      }
      @else if (this.auth.isAuthenticated === false) {
        <a class="log" href="/api/auth/login">{{ 'nav.login' | translate }}</a>
      }
    </li>
    <li class="">
      <a class="link" href="/">{{ 'nav.home' | translate }}</a>
    </li>
    <li>
      <a class="link" href="/exercises">{{ 'nav.exercises' | translate }}</a>
    </li>
    <li>
      <a class="link" href="/create_exam">{{ 'nav.createExam' | translate }}</a>
    </li>
    <li>
      <a class="link" href="/tutorial">{{ 'nav.help' | translate }}</a>
    </li>
  </ul>
</nav>
