<nav class="tw-relative tw-flex tw-flex-col">
  <div class="tw-bg-black tw-flex tw-py-5 tw-px-5 tw-gap-5 tw-items-center sm:tw-px-16">
    <button
      mat-fab
      (click)="toggleOpen()"
      class="tw-text-white tw-border-2 tw-border-white tw-border-solid tw-flex tw-justify-center tw-items-center tw-rounded-md tw-w-10 tw-h-10 sm:tw-hidden">
      @if (this.isOpen) {
        <mat-icon>close</mat-icon>
      } @else {
        <mat-icon>menu</mat-icon>
      }
    </button>
    <div [class]="this.isOpen ? 'links-open' : 'links-closed'">
      <a
        class="tw-h-8 tw-text-white tw-rounded-2xl tw-py-2 tw-px-3 tw-flex tw-justify-center tw-items-center tw-text-nowrap hover:tw-bg-sky-700"
        href="/"
        >{{ 'nav.home' | translate }}</a
      >
      <a
        class="tw-h-8 tw-text-white tw-rounded-2xl tw-py-2 tw-px-3 tw-flex tw-justify-center tw-items-center tw-text-nowrap hover:tw-bg-sky-700"
        href="/create_exam"
        >{{ 'nav.createExam' | translate }}</a
      >
    </div>
  </div>
</nav>
