<nav class="tw-relative tw-flex tw-flex-col">
  <div
    class="tw-bg-black tw-flex tw-py-5 tw-px-5 tw-gap-5 tw-items-center sm:tw-px-16">
    <p-button
      class="sm:tw-hidden"
      icon="pi {{ this.isOpen ? 'pi-times' : 'pi-bars' }}"
      (click)="toggleOpen()" />

    <div [class]="this.isOpen ? 'links-open' : 'links-closed'">
      <a
        class="tw-text-white tw-rounded-2xl tw-py-2 tw-px-3 tw-flex tw-justify-center tw-items-center tw-text-nowrap"
        href="/"
        >{{ 'nav.home' | translate }}</a
      >
      <a
        class="tw-text-white tw-rounded-2xl tw-py-2 tw-px-3 tw-flex tw-justify-center tw-items-center tw-text-nowrap"
        href="/create_exam"
        >{{ 'nav.createExam' | translate }}</a
      >
    </div>
    <div class="tw-flex tw-flex-1 tw-gap-3 tw-justify-end">
      <a
        class="tw-text-black tw-bg-white tw-rounded-md tw-py-2 tw-px-3 tw-flex tw-justify-center tw-items-center tw-text-nowrap"
        href="/log_in"
        >{{ 'nav.logIn' | translate }}</a
      >
      <a
        class="tw-text-white tw-bg-black tw-border-solid tw-border-2 tw-border-white tw-rounded-md tw-py-2 tw-px-3 tw-justify-center tw-items-center tw-text-nowrap tw-hidden md:tw-flex"
        href="/sign_up"
        >{{ 'nav.signUp' | translate }}</a
      >
    </div>
  </div>
</nav>
