<form
  class="tw-bg-white tw-flex tw-flex-col tw-px-5 tw-py-7 tw-gap-8 tw-mx-auto tw-my-5 tw-min-w-64 tw-w-11/12 tw-max-w-2xl tw-rounded-lg tw-shadow-gray-500 tw-shadow-md sm:tw-w-9/12 sm:tw-px-7"
  [formGroup]="this.userData"
  (submit)="onSubmit($event)">
  <div class="relative tw-flex tw-flex-col tw-gap-[inherit] md:tw-flex-row">
    <p-floatLabel class="tw-flex-1">
      <input
        pInputText
        [class]="{
          'tw-w-full': true,
          'ng-invalid ng-dirty': this.userData.get('firstName')?.invalid
        }"
        id="firstName"
        formControlName="firstName"
        maxlength="255" />
      <label for="firstName">{{ 'signUp.firstName' | translate }}</label>
    </p-floatLabel>

    <p-floatLabel class="tw-flex-1">
      <input
        pInputText
        [class]="{
          'tw-w-full': true,
          'ng-invalid ng-dirty': this.userData.get('lastName')?.invalid
        }"
        id="lastName"
        formControlName="lastName"
        maxlength="255" />
      <label for="lastName">{{ 'signUp.lastName' | translate }}</label>
    </p-floatLabel>
  </div>

  <p-floatLabel class="tw-flex-1">
    <input
      pInputText
      [class]="{
        'tw-w-full': true,
        'ng-invalid ng-dirty': this.userData.get('email')?.invalid
      }"
      id="email"
      formControlName="email"
      maxlength="255" />
    <label for="email">{{ 'signUp.email' | translate }}</label>
  </p-floatLabel>

  <p-floatLabel class="tw-w-full">
    <p-password
      [class]="{
        'ng-invalid ng-dirty': this.userData.get('password')?.invalid
      }"
      inputStyleClass="tw-w-full"
      styleClass="tw-w-full"
      formControlName="password"
      maxlength="255"
      [toggleMask]="true" />
    <label for="password">{{ 'signUp.password' | translate }}</label>
  </p-floatLabel>

  <p-floatLabel class="tw-w-full">
    <p-password
      [class]="!this.passwordsAreEqual() ? 'ng-invalid ng-dirty' : ''"
      inputStyleClass="tw-w-full"
      styleClass="tw-w-full"
      formControlName="confirmPassword"
      maxlength="255"
      [toggleMask]="true" />
    @if (!this.passwordsAreEqual()) {
      <div class="relative tw-mt-1">
        <small class="tw-text-red-500 tw-absolute">{{
          'signUp.passwordsMustBeEqual' | translate
        }}</small>
      </div>
    }
    <label for="confirmPassword">{{
      'signUp.confirmPassword' | translate
    }}</label>
  </p-floatLabel>

  <p-button
    class="tw-mx-auto"
    type="submit"
    [disabled]="this.userData.invalid"
    >{{ 'logIn.signUp' | translate }}</p-button
  >

  <p class="tw-text-center tw-my-0">
    {{ 'signUp.haveAccount' | translate }}
    <a class="tw-text-blue-500" href="/log_in">{{
      'signUp.logIn' | translate
    }}</a>
  </p>
</form>
