[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python api/dev.py"
lint = "flake8 --append-config pyproject.toml"
lint_fix = 'autopep8 .'
test = "pytest"

[packages]
flask = "==3.0.3"
flask-restful = "==0.3.10"
requests = "==2.31.0"
peewee = "==3.17.1"
psycopg2-binary = "==2.9.9"
python-dotenv = "==1.0.1"
sympy = "==1.13.0"

[dev-packages]
autopep8 = "==2.1.0"
flake8 = "==7.0.0"
flake8-pyproject = "==1.2.3"
pytest = "==8.1.1"

[requires]
python_version = "3.12"
